@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@100 & display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}


section{
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	background:  linear-gradient(280deg, #60a2f5 ,62%, #60a2f5 62%, #3b5998 100%)  /*#00203f*/;
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	padding: 50px;
}

.contenedor{
	position: relative;
	width: calc(100% - 100px);
	min-height: calc(100vh - 280px);
	min-height: 300px;
	background:   linear-gradient(0deg, #8aedf6, #60a2f5)  /*#adf0d1*/;
	box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;

}


@media (max-width: 513px){
	.contenedor .contenidoRl{
		height: 750px;
	}
}	

header{
	z-index: 20;
	position: absolute;
	height: 100px;
	top: -40px;
	right: 20px;
	left: 20px;
	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.2) /*#00203f*/;
	box-shadow: 0 15px 35px rgba(255, 255, 255, 0.05);
	border-radius: 20px;
	backdrop-filter: blur(10px);
	border: 1px solid rgba(255, 255, 255, 0.25);
	border-top: 1px solid rgba(255, 255, 255, 0.5) /*1px solid #adf0d1*/;
	border-left: 1px solid rgba(255, 255, 255, 0.5);
}


header .logo img{
	width: 100px;
	height: 100px;

}

 header .imgBX img{
		animation: animate 5s linear infinite;
}

@keyframes animate{
	0%,100%{
		transform: translateY(-12px);
	}
	50%{
		transform: translateY(15px);
	}
}


header .logo{
	color: #8a2435;
	font-weight: 700;
	text-decoration: none;
	font-size: 2em;
}

header ul {
	display: flex;
}

header ul li {
	list-style: none;
	margin: 0 10px;
}

header ul li a{
	text-decoration: none;
	font-weight: 500;
	color: #8a2435;
	padding: 8px 15px;
	border-radius: 25px;

}


header ul li a:hover,
.active{
	background: #fff;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.contenidoRl {
	position: relative;
	justify-content: center;
	align-items: center;
	display: flex;
    margin-top: 60px;
    max-width: 700px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    padding: 20px;
}

@media (max-width:  267px) {
	.contenedor .contenidoRl{
		height: 850px;
	}
	
}

/* ********************RESPONSIVE***************************** */
@media(max-width:  1200px){
	.contenedor{
		position: relative;
		width: calc(100% - 20px);
	}
}

@media (max-width:  992px){

	section{
		padding: 50px 10px 10px;
	}
	.contenedor{
		flex-direction: column;
		height: auto;
		padding: 20px;


	}
	 .contenidoRl{
		max-width: 100%;
		padding: 10px;
		margin-top: 40px;
		

	}

	header {
		left: 0;
		right: 0;
		height: auto;
		position: relative;
		flex-direction: column;
		width: 100%;
		top: -60px;
		padding: 5px;
	}

	header ul {
		margin-top: -20px;
		flex-wrap: wrap;
		justify-content: center;
	}
	header ul li {
		margin: 2px;
	}

	header ul li a{
		display: inline-block;
	}

	.imgBX{
		margin-bottom: 25px;
	}

	header .logo img {
    width: 150px;
    height: 150px;
	}

	@keyframes animate{
	0%,100%{
		transform: translateY(-20px);
	}
	50%{
		transform: translateY(20px);
	   }
	}

	
}

@media (max-width:  600px){

	.imgBX img{
		max-width: 300px;
	}
}



.contenedorVC {
    position: relative;
    width: 400px;
    height: auto;
    border-radius: 30px;
    padding: 20px;
    background: transparent;
  /*  box-shadow: 25px 25px 75px rgba(0,0,0, 0.25),
    10px 10px 70px rgba(0,0,0, 0.25),
    inset 5px 5px 10px rgba(0,0,0, 0.5),
    inset 5px 5px 20px rgba(255,255,255,0.2),
    inset -5px -5px 15px rgba(0,0,0, 0.75);*/
}
.contenedorVC h3{
    color: #fff;
    font-weight: 700;
    font-size: 2.2em;
    padding-bottom: 20px;
}

.contenedorVC .list{
    position: relative;
    display: flex;
    align-items: center;
    margin:40px 0;
    cursor: pointer;
}

.contenedorVC .list .rank{

    position: relative;
    min-width:45px;
    height: 45px;
    /*background: #fff;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: /*10px*/ 20px;
}
.contenedorVC a{
    text-decoration: none;
}

.rank .imgCj{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/*.contenedor .list::before{
    content: '';
    position: absolute;
    top:0;
    left:0;
    width:45px;
    height:45px;
    background: #1f83f2;
    border-radius: 22.5px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(0,0,0, 0.5);
    transition: 0.5s;
}
*/

.contenedorVC .list::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -4px;
    width: 59px;
    height: 60px;
    background: #1f83f2;
    border-radius: 28.5px;
    box-shadow: 5px 5px 7px rgba(0,0,0,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    inset -3px -3px 5px rgba(0,0,0, 0.5);
    transition: 0.5s;
}
.contenedorVC .list:hover::before{
    width: 100%;

}

/*.contenedor .list .rank::before{
    content: '';
    position: absolute;
    width:30px;
    top:7px;
    height:30px;
    background: #2f363e;
    border-radius: 30px;
    transform: scale(0);
    transition: 0.5s;
}
*/

.contenedorVC .list .rank::before {
    content: '';
    position: absolute;
    width: 30px;
    top: 7px;
    height: 30px;
    background: #2f363e;
    border-radius: 30px;
    transform: scale(0);
    transition: 0.5s;
}

.contenedorVC .list:hover .rank::before{

    transform: scale(1);

}

.contenedorVC .list .rank span{

    color: #fff;
    position: absolute;
    font-weight: 600;
    font-size: 1em;
    transition: 0.5s;    
}

.contenedorVC .list .creador{
    position: relative;
    line-height: 1.5em;
}

.contenedorVC .list .creador h4{

    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}

.contenedorVC .list .creador p{
    font-weight: 400;
    color: #000;
    font-size: 0.85em;
     transition: 0.5s;
}

.contenedorVC .list:hover .creador h4,
.contenedorVC .list:hover .creador p {
    color: #fff;
}


.copiyray {
    position: absolute;
    bottom: 0;
    left: 10px;
    text-align: center;
    color: #8a2435;
}






















/*
***************************************LOADER*********************************************
.wrapper{  
  position: fixed;
  z-index:  99999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
}
.rubik-loader{  
  width: 250px;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url(Magnify-1s-200px.gif);
  background-repeat: no-repeat;
  background-position: center;
}


h2{
	text-align: center;
	justify-content: center;
	align-items: center;
}*/