<div class="contenido">
    <h2>¿Deseas saber quien revisa tu perfil?</h2>
    <p>Saber que usuario de facebook revisa tu perfil deberia ser informacion accesible para ti, por lo tanto nuestra aplicacion <font style="background-color:#fff; border-radius:20px; font-weight: bold;";>(FaceViews)</font> te permitira el Top 5 de los usuarios que revisan tu perfil dandote detalles precisos y puntuales. <br> 
    NO TE QUEDES ATRAS ¡INTENTALO!</p>
    <a href="/login">Probar Ahora</a>
</div>