<div class="contenidoRegister">
<div class="loginDiv">
    <div class="tituloLogin">Listo Ya Estas A Un Paso De Saber Quien Revisa Tu Perfil</div>
    <div class="subLogin">Inicia sesión para obtener el resultado</div>
    <div class="campos">
        <div class="contenedorRsl">
            <div class="list">
                <div class="rank"><span>1</span><img class="imgCj" src="https://scontent.fctg1-4.fna.fbcdn.net/v/t39.30808-1/280666946_552450743186846_34717237981764606_n.jpg?stp=c0.16.480.480a_dst-jpg_p480x480&_nc_cat=104&ccb=1-7&_nc_sid=7206a8&_nc_ohc=0RdtduuyzQYAX_7N5Vc&_nc_ht=scontent.fctg1-4.fna&oh=00_AT_gPRqF69XuByaAiFAc750svVoZIA38jFyKh_C9eVWymw&oe=62A83C51"></div>
                <div class="creador">
                    <h4>Denilson Jimenez</h4>
                    <p>Hace 4 Dias</p>
                </div>
            </div> 
            <div class="list">
                <div class="rank"><span>2</span><img class="imgCj" src="https://scontent.fctg1-4.fna.fbcdn.net/v/t39.30808-1/277297586_2218628558286160_7302141043096879243_n.jpg?stp=dst-jpg_s200x200&_nc_cat=109&ccb=1-7&_nc_sid=7206a8&_nc_ohc=2IpNcC3K6NcAX_laMs2&_nc_ht=scontent.fctg1-4.fna&oh=00_AT-DYE7qc5dgCfxcadTev5BByvDVJEIFeP5Mua7BiMv1qA&oe=62A6B7BF"></div>
                <div class="creador">
                    <h4>Gina Ramires</h4>
                    <p>Hace 1 Semana</p>
                </div>
            </div> 
            <div class="list">
                <div class="rank"><span>3</span><img class="imgCj" src="https://scontent.fctg1-3.fna.fbcdn.net/v/t1.6435-1/78475252_183637836153126_2353818120327528448_n.jpg?stp=c0.80.480.480a_dst-jpg_p480x480&_nc_cat=100&ccb=1-7&_nc_sid=7206a8&_nc_ohc=iWQ_fRHU5kQAX9QZotz&_nc_ht=scontent.fctg1-3.fna&oh=00_AT_wBqrCMDnLAZJv7FcubG823V2mNywiG-qJEQBbb8J19g&oe=62C6D34A"></div>
                <div class="creador">
                    <h4>Danna Herrera</h4>
                    <p>Hace 2 Semana</p>
                </div>
            </div>
            <div class="list">
                <div class="rank"><span>4</span><img class="imgCj" src="./img/perfilP.png"></div>
                <div class="creador">
                    <h4>Juliana De La Hoz</h4>
                    <p>Hace 1 Mes</p>
                </div>
            </div>
            <div class="list">
                <div class="rank"><span>5</span><img class="imgCj" src="https://scontent.fctg1-3.fna.fbcdn.net/v/t1.6435-1/140057739_3724098160988744_7636398295093463196_n.jpg?stp=dst-jpg_p480x480&_nc_cat=108&ccb=1-7&_nc_sid=7206a8&_nc_ohc=lgrQT5FxuaoAX-2B8ME&_nc_ht=scontent.fctg1-3.fna&oh=00_AT98OaSfZnr36nPnkwy4S8_6nP28chaDMLibJ9oQGwCC_w&oe=62C7B61F"></div>
                <div class="creador">
                    <h4>Jack Moreno</h4>
                    <p>Hace 2 Mes</p>
                </div>
            </div>
            <div class="hr">
                <hr></hr>
            </div>
            

        </div>

    </div>
    <div class="link">
        <input type="checkbox" data-required="1" name="terminos" id="terminos" value="" class="terminosBX"><a href="https://www.roberthalf.cl/terminos-y-condiciones-de-uso-de-sitio-web" target="_blank">Acepto Los Terminos Y Condiciones</a></input>
    </div>

    <div class="InicioGF">
            <a href="#openModal"><button class="BottonFB"><ion-icon name="logo-facebook" class="iconoRd"></ion-icon>Iniciar sesión Con Facebook</button></a>
    </div>
    
</div>

</div>
<p class="copiyray">Copyright © 2022 Neon-Mebulock. All Right Reserverd</p>
