<header id="header">
    <div class="imgBX">
    <a href="/" class="logo"><img src="../../../public/img/logoheader-removebg-preview.png"></a>
    </div>
    <ul>
        <li><a href="/" class="active" >Home</a></li>
        <li><a href="/">Acerca De</a></li>
        <li><a href="http://cookies.unidadeditorial.es/" target="_blank">Politicas</a></li>
    </ul>
    <div class="toggle" onclick="toggle()"></div>
</header>
